.expanded-row > td {
    background-color: #e5e4ff;
        }
.expanded-row > tr {
    background-color: #e5e4ff;
}
.detalle-expand .table-striped > tbody > tr:nth-of-type(2n+1) > td {
    background-color: #f9f9f9 !important;
    padding: 6px !important;
}
.detalle-expand .table-striped > tbody > tr:nth-of-type(2n) > td {
    background-color: #ffffff !important;
    padding: 6px !important;
}
.detalle-expand .table-striped > thead > tr > th {
    padding: 2px 6px 2px 6px !important;
}    
.detalle-expand .table-striped {
    margin-bottom: 0px !important;
}
.detalle-expand {
    padding: 0px 2px 0px 2px !important;
}
.detalle-expand .skip-export .glyphicon {    
    color: darkgreen;
}
#crud-detail-container {
    border: 1px solid darkgreen !important;
    margin-bottom: 2px !important;
}
.kv-expand-detail-row > td {
    border-top: 1px solid #337ab7 !important;
    border-bottom: 1px solid #337ab7 !important;
}
