#logo_pdf{
    float:right;
    width:200px;
    padding-top:14px;
    padding-right:3px;
}

#titulo_pdf{
    font-size: 14px;
    font-family: Helvetica, Verdana, sans-serif;
    font-weight: bold;
    padding-top: 18px;
    padding-left: 2px;
    float: right;
}

#subtitulo_pdf{
    font-size: 12px;
    font-weight: normal;
    font-family: Helvetica, Verdana, sans-serif;
}
.tabla_pdf{
    font-size: 10px;
    font-family: Helvetica, Verdana, sans-serif;
}
.tabla_cabecera{
    font-size: 10px;
    font-family: Helvetica, Verdana, sans-serif;
    font-weight: bold;
    background-color: #666666;
    color: white;
}
span{

    color: #000000;
}
input{

    color: black;
}
#footer{
    width:100%;
    vertical-align: top;
    margin-top:-10px;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 8pt;
    color: #000000;
}
#footer_date{
    vertical-align:top;
    text-align:left;
    width: 75%;
    float:left;
}
#footer_page{
    width:25%;
    vertical-align: top;
    text-align:right;
    float:left;
}

.tabla_renglon{
    font-size: 4px;
    background-color: #ffffff;
}
.tabla_cuerpo0{
    font-size: 10px;
    font-family: Helvetica, Verdana, sans-serif;
    background-color: #f9f9f9;
}
.tabla_cuerpo1{
    font-size: 10px;
    font-family: Helvetica, Verdana, sans-serif;
    background-color: #f0f0f0;
}
